<!DOCTYPE html>
<html>
  <head>
    <title>UI100Day</title>
    <link rel='stylesheet' href='/stylesheets/main.css' />
    <script type="text/javascript" src="/javascripts/jquery-2.1.1.min.js"></script>
    <script type="text/javascript" src="/javascripts/toastr.min.js"></script>
    <script type="text/javascript" src="/javascripts/pub-set.js"></script>
  </head>
  <body style="background-color:#f1f1f1;">
    <div id="root"></div>
	<script type="text/javascript" src="/javascripts/vendor.js"></script>
	<script type="text/javascript" src="/javascripts/index.js"></script>
  </body>
</html>
