.every-ui-wrap{
	.today-work-title{
		padding: 0 20px;
		font-weight:bold;
		.btn{
			float: right;
    		margin-top: 10px;
			.icon-apps,.icon-keyboard_arrow_left{
			    height: 31px;
			    line-height: 31px;
			    display: inline-block;
			    font-size: 18px;
			    margin: 0 5px;
			}
			.text{
				height: 22px;
			    line-height: 14px;
			    display: inline-block;
			    vertical-align: middle;
			    margin-right:7px;
			}
		}
	}
}