/*导航栏部分*/
.nav{
	width: 100%;
	background-color: #3e3e3e;
	box-shadow:0px 0px 1px 0px rgba(0,0,0,0.06), 0px 0px 1px 0px rgba(0,0,0,0.16);
	height:60px;
	.nav-tabs{
		margin-left: 10px;
		li{
			float: left;
			height: 60px;
			line-height:55px;
			a{
			    font-size: 14px;
			    padding: 23px 15px 23px 15px;
			    color: rgba(136,136,136,0.8);
			    text-decoration: none;
			    height: 60px;
			    line-height: 60px;
			}
			a.active{
				color: #fafafa;
			}
			a:hover{
				background-color: #333
			}
		}

	}
}
.logged-info{
	
}
.login-btn,.logged-info{
	height: 60px;
    line-height: 60px;
    vertical-align: middle;
    margin-right:20px;
    position: relative;
	&>button{
		font-size:14px;
		color:rgba(0,0,0,0.44);
		letter-spacing:-0.05px;
		padding: 5px 9px;
	}
	.logged-message, .logged-header{
		display: inline-block;
	    width: 30px;
	    height: 30px;
	    line-height: 30px;
	    vertical-align: middle;
	    text-align: center;
	    // margin-right:25px;
		img{
			vertical-align: middle;
			width: 100%;
		}
	}
	.logged-message{
		margin-right:-25px;
		img{
			width: 18px;
			height: 24px;
		}
	}
	.logged-header{
		border-radius:50%;
		background-color: #fff;
    	// overflow: hidden;
    	position:relative;
    	margin-right:25px;
	}
	ul{
		width: 120px;
		left: -30px;
		top: 60px;
		position: absolute;
		background-color: #3e3e3e;
		
		text-align: left;
		li{
			padding-left: 20px;
			font-size: 14px;
			height: 40px;
			line-height: 40px;
			a{
				color: #fafafa;
				text-decoration:none;
			}
			a:hover{
				text-decoration:underline;
			}
		}
		li:nth-child(1),li:nth-child(3),li:nth-child(5){
			border-bottom:1px solid #d3d3d3;
		}
		li:nth-child(5){
			a{
				color: #ff2f2f;
			}
		}
	}
}
.logo{
	height: 60px;
    line-height: 60px;
    vertical-align: middle;
    img{
    	vertical-align: middle;
    	margin-left:20px;
    }
}


